@model IEnumerable<YT1.Models.EF.News>
@{
    ViewBag.title = "Tin Tức";
    ViewBag.action = "Trang Chủ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int cnt = 0;
}

<div class="col-12" id="containerParent">
    <div>
        <a href="~/Admin/News/Create" class="btn-create btn btn-success">Tạo Mới</a>
        <a href="#" class="btn btn-danger" id="btnDeleteAll">Xóa</a>
    </div>
    <table class="table table-hover table-bordered" id="tableParent">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="selectAll"/>
                </th>
                <th>STT</th>
                <th>Tên Bài Viết</th>
                <th>Ảnh Đại Diện</th>
                <th>Hiển Thị</th>
                <th>Ngày Tạo</th>
                <th>*</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr id="trow_@item.Id">
                        <td>
                            <input type="checkbox" class="cbkItem" value="@item.Id"/>
                        </td>
                        <td>@(++cnt)</td>
                        <td>@item.Title</td>
                        <td>
                            <div class="news_images">
                                <img src="@item.Images" alt="Images"/>
                            </div>
                        </td>
                        <td>
                            <input type="checkbox" @(item.IsActive ? "checked" : "") disabled/>
                        </td>
                        <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                        <td>
                            <a href="@Url.Action("Update", "News", new { id = item.Id })" class="btn btn-primary">Update</a>
                            <a data-id="@item.Id" class="btn-delete btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">Không có dữ liệu</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section childNavBar{
    <a href="~/Admin/News" class="nav-link">News</a>
}

@section style{
    <style>
        .btn-create {
            margin: 10px 0px;
        }
        .news_images{
            width: 220px;
            aspect-ratio: 4/3;
        }
        .news_images img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
}
@section script{
    <script>
        $(document).ready(function () {
            $('body').on('click', '#btnDeleteAll', function (e) {
                e.preventDefault();
                var str = "";
                var checkboxes = $(this).parents('#containerParent').find('.cbkItem');
                var i = 0;
                checkboxes.each(function () {
                    if (this.checked) {
                        $(this).attr('selected', 'checked');
                        var _id = $(this).val();
                        if (i == 0) {
                            str += _id;
                        }
                        else {
                            str += "," + _id;
                        }
                        i++;
                    } else {
                        $(this).attr('selected', '');
                    }
                });
                if (str.length > 0) {
                    debugger;
                    var conf = confirm("Bạn có chắc chắn muốn xóa hay không ?");
                    if (conf == true) {
                        $.ajax({
                            url: '/Admin/News/DeleteAll',
                            type: 'POST',
                            data: { ids: str },
                            success: function (rs) {
                                if (rs.success) {
                                    location.reload();
                                }
                            }
                        });
                    }
                }
            });

            $('body').on('click', '.btn-delete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa bản ghi này không?');
                if (conf == true) {
                    $.ajax({
                        url: '/Admin/News/Delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });
            $('body').on('change', '#selectAll', function () {
                var checkStatus = this.checked;
                $(this).parents('#tableParent').find('.cbkItem').prop('checked', checkStatus);
            });
        });

    </script>
}