@model PagedList.PagedList<YT1.Models.EF.Product>
@using PagedList.Mvc;
@{
    ViewBag.title = "Sản Phẩm";
    ViewBag.action = "List";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int cnt = ViewBag.indexItem;
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<div class="col-12" id="containerParent">
    <div class="actionNav">
        <a href="~/Admin/Product/Create" class="btn-create btn btn-success">Tạo Mới</a>
        <a href="#" class="btn btn-danger" id="btnDeleteAll">Xóa</a>
    </div>
    <div class="row inputSearch">
        <div class="col-12">
            <form method="get" action="@Url.Action("Index", "Product", new { area = "Admin" })">
                <div class="input-group input-group-sm">
                    <input class="form-control" name="txtSearch" value="@ViewBag.SearchText" placeholder="Nhập từ khóa..." />
                    <span class="input-group-append">
                        <button type="submit" class="btn btn-info btn-flat">Tìm Kiếm</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-hover table-bordered" id="tableParent">
        <thead>
            <tr>
                <th class="text-center">
                    <input type="checkbox" id="selectAll" />
                </th>
                <th class="text-center">STT</th>
                <th class="text-center">Mã SP</th>
                <th class="text-center">Tên Sản Phẩm</th>
                <th class="text-center">Danh Mục</th>
                <th class="text-center">Số Lượng</th>
                <th class="text-center">Giá</th>
                <th class="text-center">Hiển Thị</th>
                <th class="text-center">Ảnh Đại Diện</th>
                <th class="text-center">*</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr id="trow_@item.Id">
                        <td class="text-center">
                            <input type="checkbox" class="cbkItem" value="@item.Id" />
                        </td>
                        <td class="text-center">@(++cnt)</td>
                        <td class="text-center">@item.ProductCode</td>
                        <td class="text-center">
                            <span class="product-title" data-id="@item.Id">@item.Title</span>
                        </td>
                        <td class="text-center">@(item.ProductCategory?.Title ?? "Không có danh mục")</td>
                        <td class="text-center">@item.Quantity</td>
                        <td class="text-center">@item.Price.ToString("#,##0") VNĐ</td>
                        <td class="text-center">
                            <input type="checkbox" checked="@item.IsActive" disabled />
                        </td>
                        <td class="text-center">
                            <div class="news_images">
                                @*<img src="@(!string.IsNullOrEmpty(item.Images) ? item.Images : "/path/to/default-image.jpg")" alt="Images" />*@
                                <img class="imgproduct" data-id="@item.Id" src="@item.Images" alt="Images" />
                            </div>
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("Update", "Product", new { id = item.Id })" class="btn btn-primary">Sửa</a>
                            <a data-id="@item.Id" class="btn-delete btn btn-danger">Xóa</a>
                            <a href="@Url.Action("Details", "Product", new { id = item.Id })" class="btn btn-dark">Chi Tiết</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="11">Không có dữ liệu</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="navPagination">
        @Html.PagedListPager(Model, page => Url.Action("Index", "Product", new { area = "Admin", page }))
    </div>
</div>

<div id="dialog">
    <iframe id="myIframe"></iframe>
</div>

@section childNavBar{
    <a href="~/Admin/Product" class="nav-link">Product</a>
}

@section style{
    <style>
        .btn-create {
            margin: 10px 0px;
        }

        .news_images {
            width: 220px;
            aspect-ratio: 4/3;
        }

            .news_images img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .navPagination {
            text-align: right;
        }

        .inputSearch {
            margin: 10px 0px;
        }

        #myIframe {
            border: 0px;
            width: 100%;
            height: 100%;
        }
    </style>
}
@section script{
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            //
            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: 600,
                width: 900,
                resizable: true,
                title: 'Quản lý ảnh sản phẩm',
                close: function () {
                    window.location.reload();
                }
            });
            $('body').on("click", ".imgproduct", function () {
                var proid = $(this).attr("data-id");
                $("#dialog #myIframe").attr("src", "/Admin/ProductImage/Index?id=" + proid);
                $("#dialog").dialog("open");
                return false;
            });

            $('body').on("click", ".product-title", function () {
                var proid = $(this).attr("data-id");
                $("#dialog #myIframe").attr("src", "/Admin/Product/Details?id=" + proid);
                $("#dialog").dialog("open");
                return false;
            });
            //
            $('body').on('click', '#btnDeleteAll', function (e) {
                e.preventDefault();
                var str = "";
                var checkboxes = $(this).parents('#containerParent').find('.cbkItem');
                var i = 0;
                checkboxes.each(function () {
                    if (this.checked) {
                        $(this).attr('selected', 'checked');
                        var _id = $(this).val();
                        if (i == 0) {
                            str += _id;
                        }
                        else {
                            str += "," + _id;
                        }
                        i++;
                    } else {
                        $(this).attr('selected', '');
                    }
                });
                if (str.length > 0) {
                    debugger;
                    var conf = confirm("Bạn có chắc chắn muốn xóa hay không ?");
                    if (conf == true) {
                        $.ajax({
                            url: '/Admin/Product/DeleteAll',
                            type: 'POST',
                            data: { ids: str },
                            success: function (rs) {
                                if (rs.success) {
                                    location.reload();
                                }
                            }
                        });
                    }
                }
            });

            $('body').on('click', '.btn-delete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa bản ghi này không?');
                if (conf == true) {
                    $.ajax({
                        url: '/Admin/Product/Delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });
            $('body').on('change', '#selectAll', function () {
                var checkStatus = this.checked;
                $(this).parents('#tableParent').find('.cbkItem').prop('checked', checkStatus);
            });
        });
    </script>
}